<section class="">
    <div class="flex flex-col items-center mx-auto mt-fluid-sm px-fluid-sm text-center container">
        <h1 class="max-w-4xl">Capturing Life's Moments Through Resilience and Art</h1>
        <p class="max-w-2xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis quidem, ipsum autem perspiciatis ex atque! Laborum, inventore nesciunt ut enim dicta expedita error perspiciatis.</p>
        <div class="flex flex-row items-center gap-fluid-sm mt-fluid-sm">
            <a href="/" class="bg-woodland-800 hover:bg-woodland-700 px-fluid-sm py-fluid-2xs rounded-lg font-heading font-semibold text-woodland-50 transition-colors duration-500 ease-in-out">My Story</a>
            <a href="/" class="font-heading font-semibold">Shop Prints</a>
        </div>
    </div>
</section>