---
// Styles
import "@/styles/global.css";
// Data
import { siteData } from "@/data/global";
// Components
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
---
<!doctype html>
<html lang={siteData.lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<Head />
		<title>{siteData.name}</title>
	</head>
	<body class="bg-zinc-50 dark:bg-zinc-950">
		<Header />
		<slot />
	</body>
</html>